body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.Navbar {
  background: white;
  box-shadow: 1px 0 10px 1px #fafafa;
  height: 100vh;
  position: fixed;
  z-index: 3;
  padding: 2rem 0.8rem;
}
button.btn {
  border: 0.1px solid #fdfdfd;
  border-radius: 10px !important;
  color: #777;
  font-size: 14px !important;
}
button.btn:first-of-type {
  font-size: 12.5px !important;
  margin-bottom: 3rem;
}
.Navbar > div button.btn {
  display: block;
  margin-bottom: 0.8rem;
}
.user {
  background-color: #1023ef;
  border-radius: 10rem !important;
  border: 1px solid #fdfdfd;
  color: #eee;
  font-size: 12px !important;
  margin-top: 20vh;
  padding: 5px 2px 7px;
  text-transform: uppercase;
}

/* HEADER */
header {
  align-items: center;
  background: white;
  box-shadow: 0 0 10px 1px #fafafa;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  padding: 0 5rem;
  position: fixed;
  width: 100vw;
  z-index: 2;
}
header > div.header {
  border-right: 1.5px solid #ddd;
  font-family: sans-serif;
  font-family: cursive;
  font-weight: 600;
  font-size: 11.5px;
  letter-spacing: -0.2px;
  line-break: strict;
  padding: 0.56rem 3rem;
  text-transform: capitalize;
}
header > div.active {
  background-color: #016960;
  color: #fafafa;
  padding: 1.5rem 3rem 1.35rem;
  position: relative;
}
header > div.active::after {
  background-color: #016960;
  border: 10px solid white;
  border-left-color: transparent;
  content: "";
  height: 1.2rem;
  position: absolute;
  top: 40%;
  right: -1.2rem;
  width: 1.2rem;
}

/* MAIN */
main {
  background: #fafafa;
  padding: 25vh 15vh 10vh;
}
.Container {
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px 1px #fafafa;
  margin: 0 0 1.85rem 0;
  max-width: 50vw;
}
.Container .top {
  background-color: #6fe4f45a;
  border-radius: 12px 12px 0 0;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 11.5px;
  letter-spacing: -0.2px;
  line-break: strict;
  padding: 0.85rem 1.2rem;
  text-transform: capitalize;
  text-align: left;
}

.Container .content {
  padding: 0.7rem;
}
.formControl,
.contact__option {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.5rem 0.5rem 0.7rem;
}
.contact__option h3 {
  font-size: 0.7rem;
  text-transform: capitalize;
}
.contact__option:first-of-type {
  padding-top: 2.8rem;
}
.contact__option > div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  width: 65vw;
}
.contact__option input {
  margin: 0 0.5rem;
  opacity: 0.7;
}
.formControl label,
.contact__option label,
.contact__option input::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.7rem;
}
.formControl label {
  font-weight: 600;
  font-size: 0.8rem;
  padding-right: 0.5rem;
}
.contact__option input,
:focus-visible,
.contact__option input,
:focus-within,
.contact__option input,
:focus {
  outline: none !important;
  /* border: 1.8px solid #555; */
}

/* SLIDER  */
.switch {
  display: inline-block;
  height: 22px;
  margin-right: 1rem;
  position: relative;
  width: 35px;
}
.switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider,
.slider:before {
  -webkit-transition: 0.4s;
  cursor: pointer;
  position: absolute;
  transition: 0.4s;
}
.slider {
  background-color: #bbb;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
.slider:before {
  background-color: white;
  bottom: 3px;
  content: "";
  height: 16px;
  left: 3px;
  width: 16px;
}
input:checked + .slider {
  background-color: #3ab700;
}
input:focus + .slider {
  box-shadow: 0px 0px 2px #222;
}
input:checked + .slider:before {
  transform: translateX(13.5px);
}
/*Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
